# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
*.egg-info/
dist/
build/

# Virtual Environments
venv/
.venv/
env/
ENV/

# Flask / App
instance/
*.sqlite
*.db-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
